.wrapper {
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 60px;
    }
}